
#utama { 
background-image: url("img/HotelWeb.jpg");
position: relative; 
background-size: cover; 
height: 1000px; 
      } 

.header_isi { 
  color: black;
  width: 335px; 
  height: 230px; 
  padding: 180px 0px 90px 480px; 
            } 

.gambar { 
  
  height: 330px;
   width: 350px;
   padding: 50px 0px 0px 0px;
  border: 2px solid black ; 
  border-radius: 20px;  

        } 

.img { 
  width: 250px; 
  height: 100px; 
  position: relative;
  margin-left: 45px; 
  margin-top: 15px; 
    } 

.login_regis { 
  height: 40px; 
  width: 260px; 
  text-align: center; 
  color: black ; 
  font-size: 17px; 
  font-style: italic;
  font-family: times new roman;
  border-radius: 8px; 
  background-color: rgba(225, 255, 255, 0.4); 
  border: 3px solid #0288D1; 
  margin-left: 42px; 
  margin-top: 10px; 
              } 

.tombol_login { 
  width: 260px; 
  height: 30px; 
  text-align: center; 
  background-color: #0288D1; 
  color: white; 
  font-size: 17px; 
  border: 2px solid #0288D1; 
  border-radius: 8px; 
  margin-top: 20px; 
  margin-left: 42px; 
              } 

.chexbox { 
  font-size: 15px; 
  color: white; 
  margin-left: 45px; 
  margin-top: 10px;
  width: 200px; 

          } 

.login_regis:hover { 
  border: 3px solid #fff; 
                  } 

.tombol_login:hover { 
  background-color: white; 
  color: #0288D1; 
  border: 2px solid white; 
                  } 

.copyright { 
  margin-top: 150px; 
  color: black; 
  font-size: 17px; 
  margin-left: 10px;
  text-align:center;  
          } 

